:root {
  font-family: Roboto, Inter, Avenir, Helvetica, Arial, sans-serif;
}

::-webkit-scrollbar {
  width: 0;             
}

body {
  min-height: 100vh;
  display: flex;
  place-items: center;
  background: lightgrey;
  background-image: url(./assets/windows_xp_original-wallpaper-2880x1620.jpg);
  background-size: cover;
  backdrop-filter: blur(15px);
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  margin-block-end: 0;
  margin-block-start: 0;
  padding-inline-start: 0;
}
